# Config

# Spreadsheet ID is found in the URL used to view the google sheet normally.
# https://docs.google.com/spreadsheets/d/{id here}/edit#gid=548180339
SPREADSHEET_ID: "arsdawfd02l4=0lva0fupn[02l34[ygu]]"

# Google Sheets API key generated in Google Console
API_KEY: "AIzaSyDXrkoOWMIaZ8ywk-cXAaudkVW5hebwCnI"


EVENTS_RANGE: "2024"
MEMBERS_RANGE: "Members"
WEBHOOK_URL: "https://discord.com/api/webhooks/abc123"
SMTP_EMAIL: "email@site.com"
SMTP_PASSWORD: "abc123"
SMTP_PORT: 465
SMTP_SERVER: "smtp.site.com"
EMAIL_DEBUG: False

# How can in advance to check for birthdays
BIRTHDAY_DELTA: 21
LOGGING_LEVEL: INFO